.cor {
    color: green;
    font-size: 30px;
    text-align: center;
    background-color: darkgrey;
}
.wor {
    color: red;
    font-size: 30px;
    text-align: center;
    background-color: darkgrey;
}